body {
	background-color: #000
}

#console {
	font-family: courier, monospace;
	color: #02f838;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	font-size:14px;
}

a {
	color: #007acc;
	text-decoration: none;
}

#a {
	color: #ff0000;
}

#c {
	color: #007acc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op {
    	color: #888888;
}

#f {
	color: #ebf57d;
}

#g {
	color: #85afcc;
}

@keyframes change {
    	0%  { color:  #ff0000; }
    	50% { color:  #ff0000; }
    	99% { color: black; }
}
